/* Page as a whole */
.container {
  display: flex;
  min-height: 100vh;
}

/* Right Styling */
.right {
  flex: 6;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3d6d5f;
  width: 100%;
}

.center {
  text-align: center;
}

/* Left styling */
.left {
  display: flex;
  background-color: #ffb612;
  flex: 2;
  flex-direction: column;
  text-align: center;
}

/* Changes opacity of images when you hover over them*/
img:hover {
  opacity: 0.5;
}

img {
	display: flex;
}

button {
  cursor: pointer;
  
  width: 100%;
}
