html,
body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

/*These are the properties for the 4 columns*/
.column1 {
  float: right;
  width: 25%;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  background-color: lightgreen;
}

.column-medium {
  float: right;
  width: 50%;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

.column-text {
  float: right;
  margin-top: 50px;
  width: 50%;
  justify-content: center;
  text-align: justify;
  text-decoration: none;
}

.column2 {
  float: right;
  width: 75%;
  padding: 0px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  background-color: yellow;
}
/*This makes the images smaller so that they could fit better*/
.img-large {
  width: 60%;
}

.img-long {
  max-width: 40%;
}

/*This changes the opacity of the images when you hover over them*/
img:hover {
  opacity: 0.5;
}

/*This keeps the headers centered. The big ones are also in the font verdana*/
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  font-family: verdana;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  min-width: 80%;
  max-width: 80%;
  background-color: #4caf50; /* Green */
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}
