.column {
	float: right;
	width: 33.33%;
	padding:0px;
	height:400px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

h3 {text-align: center;}
h2 {text-align: center;}
h1 {text-align: center;}